body{
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
}
.navbar{
    background-color: #E7926B;
}