body{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    background-color: #E7926B;
    
}
.col-md-4 li{
    list-style-type: none;
    font-size: 24px;
}